:root {
  --sticky-hide: 10vh;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: 'Arimo', sans-serif;
}
nav {
  background-color: #000;
  border-bottom: 1px solid white;
}
.topNav {
  background-color: black;
  height: 3vh;
  list-style: none;
  overflow: hidden;
}
.topNav li {
  display: inline-block;
}
.topNav li a{
  display: inline-block;
  color: #b8b5b5;
  text-decoration: none;
  line-height: 1.2vh;
  font-size: 13px;
  padding: 7px 6px;
}
.topNav li a:hover{
  color: #fff;
}
.topNav li a:active{
  color: #fff;
}

.mainNav {
  position: sticky;
  top: 0;
}

.headHero {
  background-color: blue;
  height: 50vh;
  display: grid;
}
.headHero div {
  border: 1px solid dimgray;
  height: 100%;
}
.navLinks {
  height: var(--sticky-hide);
  background-color: #fff;
}

.mainNavLinks{
  list-style: none;
  overflow: hidden;
  border: solid 1px;
}
.mainNavLinks li {
  display: inline-block;
}
.mainNavLinks li a{
  display: inline-block;
  color: #b8b5b5;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2vh;
  font-size: 13px;
  padding: 7px 6px;
}
.mainNavLinks li a:hover{
  color: #3b3a3a;
  background-color: #fffdfd;
}
.mainNavRight{
  border: solid 1px;
}

.yellow {
  background-color: yellow;
  height: 4vh;
  position: sticky;
  top: var(--sticky-hide);
}

.grid-container{
  display: grid;
}
.four-columns{
  grid-template-columns: repeat(4, 24%);
  grid-auto-rows: minmax(100px, 1fr);
  gap: 1%;
}
.flex-columns{
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-auto-rows: minmax(100px, 1fr);
}
.x1024{
  max-width: 1024px;
  margin: 0 auto;
}

.news-section {
  background-color: green;
  justify-content: center;
  gap: 10px;
}

.news-section * {
  border: 1px solid dimgray;
}
.deals{
  margin: 0 auto;
  background-color: rebeccapurple;
}
.services{
  margin: 0 auto;
  gap: 10px;
}
.service-item{
  background-color: orangered;
  margin: 1px;
}
footer{
  height: 25vh;
  background-color: darkgray;
}
@media screen and (max-width: 768px) {
  .deals,
  .news-section,
  .headHero,
  .services{
    display: grid;
    grid-template-columns: 100%;
  }
}

